body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
header{
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;

    border-bottom: 4px solid #462456;

    background: #6F4688; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#462456, #6F4688); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#462456, #6F4688); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#462456, #6F4688); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#462456, #6F4688); /* Standard syntax */
}

header img{
    height: 70%;
}

.hidden{
    display: none !important;
}

.generator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: calc(100vh - 206px);
    margin: auto;
}

.editor{
    width: 300px;
    margin-bottom: 30px;
}

.frame{
    position: absolute;
    width: 280px;
    height: 280px;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 9999;
    pointer-events: none;
}

.btn{
    display: block;
    width: 200px;
    background-color: #6F4688;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,.5);
    font-size: 16px;
    text-shadow: none;
    text-align: center;
    cursor: pointer;
}

#result-img, .download-btn{
    margin-bottom: 10px;
}

#upload{
    display:block;
    height:0;
    width:0;
}
.disclaimer{
    text-align: center;
}
footer{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    padding: 10px;
    bottom: 0;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;

    border-top: 4px solid #462456;
    background: #6F4688; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#6F4688,#462456); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6F4688,#462456); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6F4688,#462456); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6F4688,#462456); /* Standard syntax */
}

#result p, footer p{
    margin: 5px auto;
    text-align: center;
}